/* -------------------general------------------ */
div.input-container, div.textarea-container {
    width: 90%;
    max-width: 500px;
}
label.input-label, div.textarea-container  {
    display: grid;
    width: 90%;
    gap: 0.3em;
}
span.input-text {
    justify-self: start;
    font-size: 1.05rem;
}

input.input, textarea.text-area {
    outline: none;
    width: 100%;
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    font-size: 1.05rem;
    border: solid 1px rgb(var(--border-color));
    background-color: rgb(13, 13, 13);
    border-radius: 0.2em;
    color: rgb(--white-color);
    opacity: 70%;
}

div.input-container.github, div.input-container.linkedin {
    max-width: 12em;
}

div.textarea-container {
    /* display: flex;
    flex-direction: column; */

}
textarea.text-area {
    width: 100%;
    resize: none;
    background-color: transparent;
}

span.text-area-text {
    justify-self: start;
}