/* div.resume-screen {
    display: flex;
    justify-content: center;
    align-items: center;
} */
div.resume-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.live-resume {
    margin: 2em;
    background-color: #fff;
    width: 602px;
    /* 2408px */
    height: 877px; 
    /* 3508px */
    box-shadow: 0 0 1em rgb(var(--pure-black));
    color: black;
    overflow: auto;
    font-size: 0.8em;
}

div.live-resume p {
    margin: 0;
}

div.live-resume {
    /* font-family: 'Dosis Variable', sans-serif; */
    font-family: 'Space Grotesk Variable', sans-serif;
}

div.personal-details {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.3em;
    justify-content: center;
}

div.personal-details h1.name {
    font-size: 2em;
    margin: 0;
    margin-top: 0.5em;
    flex: 1 1 100%;
}

div.personal-details p {
    margin: 0;
}

div.personal-details p.email, p.mobile {

}

div.personal-details p.email {
    flex: 1 1 55%;
    text-align: right;
}

div.personal-details p.mobile {
    flex: 0 1 40%;
    text-align: left;
}

div.personal-details div.profile-container {
    flex: 1 0 100%;
    display: grid;
    grid-template-columns: 20% 1fr;
}

div.personal-details p.profile {
    text-align: left;
    margin: 0 1em;
    font-weight: 500;
    line-height: 1.3;
}

/* --------------------education---------------------------- */
div.education-details, div.experience, div.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.education-details div + div, div.experience div + div, div.projects div + div {
    margin-top: 1em;
}

h2.education-label, h2.experience-label, h2.projects-label {
    margin: 0.3em auto 0.2em auto;
    font-size: 1.3rem;
} 

div.education-details > div, div.experience > div, div.projects > div {
    text-align: left;
    margin-left: calc(20% + 1em);
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    margin-right: 1em;
}

div.education-details > div {
}

div.education-details p.name{
    font-weight: 700;
    font-size: 1rem;
    flex: 62%;
}

p.startDate::after {
    margin-left: 0.5em;
    content: '-';
}

div.education-details p.endDate, div.education-details p.startDate {
    flex: 10%;
}

div.live-resume hr {
    width: 95%;
}

/* --------------experienc------------------- */

p.post, p.company {
    font-weight: 700;
    font-size: 1rem;
    flex: 100%;
}

div.experience div p.location {
    margin-right: 1em;
}

p.location, p.startDate, p.endDate {
    opacity: 80%;
}

div.experience div p.details {
    flex: 100%;
    font-size: 0.85rem;
}


/* ----------------projects------------------ */
div.projects div p.name {
    font-size: 1rem;
    font-weight: 700;
    flex: 100%;
}

div.projects div p.details {
    flex: 100%;
}