div.right-sidebar {
    right: 0%;
    top: 50px;
}

div.right-sidebar {
    /* border-left: 1px solid rgb(var(--border-color));  */
    display: grid;
}

div.right-sidebar {
    animation: slide-R 0.3s ease-in-out;
    will-change: transform, opacity;
}

@keyframes slide-R {
    0% {
        transform: translate(100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 100%;
    }
}

@media only screen and (min-width: 2000px) {
    div.enter-details {
        left: calc(30% - 20em);
    }
    div.right-sidebar {
        right: calc(30% - 20em);
    }
}